{% extends "layout.html" %}

{% block title %}Edit Comment{% endblock %}

{% block content %}
<h1>Edit Comment</h1>
<form action="/edit_comment/{{ comment['id'] }}" method="post" class="comment-form">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <label>Comment:</label><br>
  <textarea name="comment" required>{{ comment['comment'] }}</textarea><br>
  <button type="submit">Save</button>
</form>
<br/><a href="/review/{{ comment['review_id'] }}">Cancel</a>
{% endblock %}
