<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}

  <h1>Welcome to Book Reviews</h1>

  {% if session.username %}
  <p>
    You have logged in as {{ session.username }}
  </p>
  <p>
    <a href="/logout">Log out</a> <br/>
    <a href="/newreview">New Review</a>
  </p>

  <h1>Book Reviews</h1>
  {% for book_review in book_reviews %}
  <h2>{{ book_review['title'] }} ({{ book_review['author'] }})</h2>
  <p>
    {{ book_review['review'] }}
  </p>
  {% endfor %}

  {% else %}
  <h2>Log in</h2>
  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Log in" />
  </form>
  <p>Do you not have an account? </p>
  <a href="/register">Create account</a>
  {% endif %}
</body>

</html>
