<!DOCTYPE html>
<html>

<head>
  <title>Book Reviews</title>
</head>

<body>
  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}

  <h1>Welcome to Book Reviews</h1>

  {% if session.username %}
  <p>
    You are logged in as {{ session.username }}. <a href="/logout">Log out</a> <br/>
    <br />
    <a href="/user/{{ user_id }}">Your page</a> | <a href="/new_review">Add review</a> <br />
    <br />
  </p>

  <h1>Book Reviews</h1>
  <form action="/" method="get">
    <p>
      Author or title:
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
    <input type="submit" value="Search" />
  </form>
  <hr />
  {% for book_review in book_reviews %}
  <p>
    <a href="/user/{{ book_review['user_id'] }}">{{ book_review['username'] }}</a>
    ({{ book_review['created_at'][:10] }}):
  </p>
  <p><b>{{ book_review['author'] }} - {{ book_review['title'] }}</b></p>
  <p>{{ book_review['review'] }}</p>
  {% if book_review['username'] == session.username %}
  <p>
    <a href="/edit/{{ book_review['id'] }}">Edit</a> |
    <a href="/confirm_delete/{{ book_review['id'] }}">Delete</a>
  </p>
  {% endif %}
  <hr />
  {% endfor %}

  {% else %}
  <h2>Log in</h2>
  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Log in" />
  </form>
  <p>Do you not have an account? </p>
  <a href="/register">Create account</a>
  {% endif %}
</body>

</html>
