<!DOCTYPE html>
<html>

<head>
  <title>New Review</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}

  <h1>New Review</h1>
  <form action="/add" method="POST" class="review-form">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <label>Title:</label><br>
    <input type="text" name="title" required><br>
    <label>Author:</label><br>
    <input type="text" name="author" required><br>
    {% for title in classes %}
    <label>{{ title }}:</label>
    <div class="genres">
      {% for value in classes[title] %}
      <label>
        <input type="checkbox" name="classes" value="{{ title }}:{{ value }}" />
        {{ value }}
      </label>
      {% endfor %}
    </div>
    {% endfor %}
    <label>Review:</label><br>
    <textarea name="review" required></textarea><br>
    <button type="submit">Add Review</button>
  </form>

    <br/><a href="/user/{{ user_id }}">Cancel</a>
</body>

</html>
