<!DOCTYPE html>
<html>

<head>
  <title>Register</title>
</head>

<body>
  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}

  <h1>Create an account</h1>
  <form action="/register" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" value="{{ filled.username }}" /><br />
      <small>>3 characters</small>
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1" /><br />
      <small>
        >8 characters, at least one letter, number and special character
      </small>
    </p>
    <p>
      Repeat password: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Create account" />
  </form>

  <br/><a href="/">Back to login</a>
</body>

</html>
