{% extends "layout.html" %}

{% block title %}Your Page{% endblock %}

{% block content %}

<h2>Your Reviews</h2>

{% for category, message in get_flashed_messages(with_categories=true) %}
<p class="{{ category }}">
  {{ message }}
</p>
{% endfor %}

<p>
  <a href="/newreview">New review</a>
</p>

{% for book_review in book_reviews %}
<div class="review">
  <p>
    <strong>Book:</strong> {{ book_review.title }}<br />
    <strong>Author:</strong> {{ book_review.author }}
  </p>
  <p>
    {{ book_review.review }}
  </p>
  <p>
    <a href="/edit/{{ book_review.id }}">Edit</a>
    <a href="/confirmdelete/{{ book_review.id }}">Delete</a>
  </p>
</div>
{% endfor %}

{% endblock %}
