<!DOCTYPE html>
<html>

<head>
  <title>{{ user['username'] }}</title>
</head>

<body>
  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}
  <p>
    <a href="/">Back to main page</a>
  </p>
  <h1>{{ user['username'] }}{% if is_owner %} (you){% endif %}</h1>
  <p>
    {{ user['username'] }} has written {{ stats['count'] }}
    review{{ '' if stats['count'] == 1 else 's' }}.
    {% if stats['count'] %}
    <br />
    First review written {{ stats['first_review'] }}<br />
    Latest review written {{ stats['last_review'] }}
    {% endif %}
  </p>
  {% if is_owner %}
  <p>
    You are logged in as {{ session.username }}. <a href="/logout">Log out</a> <br/>
    <br />
    <br />
    <a href="/new_review">New Review</a> <br />
    <br />
  </p>
  {% endif %}
  <h1>Reviews by {{ user['username'] }}</h1>
  {% for book_review in book_reviews %}
    <h2>{{ book_review['title'] }} ({{ book_review['author'] }})</h2>
    <p>{{ book_review['review'] }}</p>
    {% if is_owner %}
      <a href="/edit/{{ book_review['id'] }}">Edit</a>
      <a href="/confirm_delete/{{ book_review['id'] }}">Delete</a>
    {% endif %}
  {% endfor %}
</body>

</html>
